@model HTBox.Web.Models.Webpages_Roles
@{
    Layout = null;
}
@using (Ajax.BeginForm("CreateRole", "UserRole", null,
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "addSuccess",

    },
    new { @id = "updateUserForm" }))
{
    @Html.ValidationSummary(true)
    <div id="update-message" class="error invisible"></div>
    <fieldset>

        <legend>Webpages_Roles</legend>
          
          @Html.Hidden("parentNodeCode", (string)ViewBag.ParentCode)
         <div class="editor-label">
            @Html.Label("Parent", "Parent")
        </div>
        <div class="editor-field">
            @Html.Label("Parent", (string)ViewBag.ParentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IndexOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IndexOrder)
            @Html.ValidationMessageFor(model => model.IndexOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Master)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Master)
            @Html.ValidationMessageFor(model => model.Master)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Expression)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Expression)
            @Html.ValidationMessageFor(model => model.Expression)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
        <p>
        <input type="submit" value="Save" />
        </p>
    </fieldset>
}
